# 私钥 / 证书
*.pem
*.key
*.p12
*.pfx

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build temp
*.local
tmp/
dist-temp/

# Editor
.vscode/
.idea/
*.swp
*.swo
